<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.TeacherMapper">

    <select id="getTeacher" resultType="com.manager.pojo.Teacher">
        SELECT tid,`name` FROM teacher_info
    </select>

    <select id="getTeacherById" resultType="com.manager.pojo.Teacher">
        SELECT tid,`name` FROM teacher_info where `tid` = ${tid}
    </select>

    <select id="getTeaValidator" resultType="com.manager.pojo.Validator">
        SELECT passwordData FROM teacher_info where `tid` = ${tid}
    </select>
</mapper>